.side-nav-drawer {
    background-color: darken($color: darkgrey, $amount: 10);
    min-width: 30vw;
}

.side-nav-container {
    height: 100vh;
}

.side-nav-button {
    width: 100%;
    height: 20%;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}